language: python
python:
  - "3.6"
install:
  - pip install -r requirements.txt
  - pip install python-coveralls
script:
  - coverage run -m unittest discover grill -v
after_success:
  - coveralls --rcfile=.coveragerc
